<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
    <script src="https://kit.fontawesome.com/79d7c5829a.js" crossorigin="anonymous"></script>
    <title>CALENDAR</title>
</head>
<body>
    <div class="base-container">
        <nav>
                <button type="button" class="nav-button">
                    <i class="fa-solid fa-square-check"></i>
                    <a href="#" class="button">To do</a>
                </button>
                <a href="#" class="nav-item">
                    <i class="fa-solid fa-calendar-day"></i>
                    <span>Daily planer</span>
                </a>
                <div class="nav-item">
                    <i class="fa-solid fa-calendar-week"></i>
                    <a href="#" class="button">Weekly planer</a>
                </div>
                <div class="nav-item">
                    <i class="fa-solid fa-calendar-days"></i>
                    <a href="#" class="button">Yearly planer</a>
                </div>
                <div class="nav-item">
                    <i class="fa-solid fa-bell"></i>
                    <a href="#" class="button">Notifications</a>
                </div>
                <div class="nav-item">
                    <i class="fa-solid fa-users"></i>
                    <a href="#" class="button">Users</a>
                </div>
        </nav>
        <main>
            <div class="calendar">
                <p>Tu dodaj kalendarza</p>
            </div>
            <div class="logo">
                <img src="../img/logo.svg">
            </div>
        </main>
    </div>
</body>

