<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="../public/css/navigation_and_backround.css" />
  <link rel="stylesheet" type="text/css" href="../public/css/users.css" />
  <script
    src="https://kit.fontawesome.com/79d7c5829a.js"
    crossorigin="anonymous"
  ></script>
  <title>USERS</title>
</head>
<body>
  <div class="base-container">
    <nav>
      <img  class="photo" src="../img/Aleksandra.jpg" alt="Photo">
      <span class="name">Aleksandra</span>
      <li href="#" class="nav-item">
        <i class="fa-solid fa-square-check"></i>
        <span class="writing">To do</span>
      </li>
      <li href="#" class="nav-item">
        <i class="fa-solid fa-calendar-day"></i>
        <span class="writing">Daily planer</span>
      </li>
      <li href="#" class="nav-item">
        <i class="fa-solid fa-calendar-week"></i>
        <span class="writing">Weekly planer</span>
      </li>
      <li href="#" class="nav-item">
        <i class="fa-solid fa-calendar-days"></i>
        <span class="writing">Yearly planer</span>
      </li>
      <li href="#" class="nav-item">
        <i class="fa-solid fa-bell"></i>
        <span class="writing">Notifications</span>
      </li>
      <li href="#" class="nav-item">
        <i class="fa-solid fa-users"></i>
        <span class="writing">Users</span>
      </li>
      <li href="#" class="nav-item">
        <i class="fa-solid fa-gear"></i>
        <span class="writing">Settings</span>
      </li>
    </nav>
    <main>
      <div class="container">
        <div class="rectangle_dark"></div>
        <div class="rectangle_blank_side">
          <img  class="photo_user_side" src="../img/Aleks.jpg" alt="Photo">
          <p class="contact_name">Aleks</p>
        </div>
        <div class="rectangle_blank_main">
          <img  class="photo_user_main" src="../img/Aleksander.jpg" alt="Photo">
          <p class="contact_name">Aleksander</p>
        </div>
        <div class="rectangle_blank_side">
         <img  class="photo_user_side" src="../img/Ola.jpg" alt="Photo">
         <p class="contact_name">Ola</p>
        </div>
        <div class="rectangle_dark"></div>
      </div>
          <img class="logo" src="../img/logo.svg" />
    </main>
  </div>
</body>
