<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="../public/css/style.css" />
  <script
    src="https://kit.fontawesome.com/79d7c5829a.js"
    crossorigin="anonymous"
  ></script>
  <title>CALENDAR</title>
</head>
<body>
  <div class="base-container">
    <nav>
      <img  class="photo" src="../img/Aleksandra.jpg" alt="Photo">
      <span class="name">Aleksandra</span>
      <li href="#" class="nav-item">
        <i class="fa-solid fa-square-check"></i>
        <span class="writing">To do</span>
      </li>
      <li href="#" class="nav-item">
        <i class="fa-solid fa-calendar-day"></i>
        <span class="writing">Daily planer</span>
      </li>
      <li href="#" class="nav-item">
        <i class="fa-solid fa-calendar-week"></i>
        <span class="writing">Weekly planer</span>
      </li>
      <li href="#" class="nav-item">
        <i class="fa-solid fa-calendar-days"></i>
        <span class="writing">Yearly planer</span>
      </li>
      <li href="#" class="nav-item">
        <i class="fa-solid fa-bell"></i>
        <span class="writing">Notifications</span>
      </li>
      <li href="#" class="nav-item">
        <i class="fa-solid fa-users"></i>
        <span class="writing">Users</span>
      </li>
      <li href="#" class="nav-item">
        <i class="fa-solid fa-gear"></i>
        <span class="writing">Settings</span>
      </li>
    </nav>
    <main>
      <div class="calendar">
        <p>Tu dodaj kalendarza</p>
      </div>
      <div class="logo">
        <img src="../img/logo.svg" />
      </div>
    </main>
  </div>
</body>
