.container {
  width: 80vw;
  height: 100%;
  background: #fdfbf5 0% 0% no-repeat padding-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.rectangle_blank_main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  top: 217px;
  left: 852px;
  width: 235px;
  height: 50%;
  background: #fffefb 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #2b2e49;
  opacity: 1;
}

.rectangle_blank_sides {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  top: 217px;
  left: 852px;
  width: 235px;
  height: 368px;
  background: #f1f9ff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #2b2e49;
  opacity: 1;
}

.rectangle_dark {
  top: 239px;
  left: 1086px;
  width: 162px;
  height: 324px;

  background: #d1dee7 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #2b2e49;
  opacity: 1;
}

.contact_name {
    margin-top:30px; 
    margin-left: 10%;
    letter-spacing: 1.5px;
    color: #2b2e49;
    font: italic normal normal 30px/30px Segoe UI;
}